.MainText {
  background: url('https://i.ibb.co/CzqcNVt/145353115.jpg');
  background-size: cover;
  height: 100px;
  width: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #2276c9;
}

li {
  float: left
}

a {
  display: block;
  padding: 8px;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

body {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 1fr auto;
}
