<!DOCTYPE html>
<html>
  <head>
    <title>Portfolio</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;700&display=swap" rel="stylesheet">
  <div class="TopBar">
    <ul>
      <li><a href="/">Welcome</a></li>
      <li><a href="/portfoliopage">Portfolio</a></li>
      <li><a href="blog">Blog</a><li>
    </ul>  
  <h1>stuff</h1>
  
  <body>
    <%= yield %>
  </body>
  <footer>
    <h4>Contact me or view my work</h4>

    <a href="https://uk.linkedin.com/in/callum-matthews-4b0036298"> 
    <img src="https://i.ibb.co/jZ86kZY/linkedin-1.png" alt="Linkedin" height="40px" width="40px" >      </a>

    <a href="https://github.com/Caltington"> 
    <img src="https://i.ibb.co/bzSwG8V/github.png" alt="Github" height="40px" width="40px" >
    </a> 
  </footer>
</html>
