<body>
  <main>
    <a href="https://github.com/Caltington"> 
    <img src="PLACEHOLDER" height="100px" width="200" >
    </a>
    <br>
    <h2>Personal Statement / Interests</h2>
    <b1>Super cool and that y'know</b1>
    <h2>Key Skills</h2>
    <b1>• I'm stronger</b1>
    </br>
    <b1>• I'm smarter</b1>
    </br>
    <b1>• I'm better</b1>
    </br>
    <b1>• I am better</b1>
    <h2>Education</h2>
    <b1>Myself obviously</b1>
    <h2>References</h2>
    <b1>Me</b1>
    </main> 
</body>