<body>
  <main> <h2>Previous work</h2>
    <a href="https://github.com/Caltington"> 
    <img src="https://i.ibb.co/rtXHSc2/download.jpg" height="200px" width="500px" >
    </a>
    <br>
    My finest piece of work
    </main> 
</body>