<div class="Header">
  <h1>TITLE</h1>
<div class="MainText">
  <b1>write what i do here write what i do here write what i do here write what i do here write what i do here write what i do here write what i do here write what i do here write what i do here write what i do here write what i do here write what i do here write what i do here write what i do here write what i do here write what i do here write what i do here write what i do here write what i do here write what i do here write what i do here write what i do here </b1>

  <footer>
    <h4>Contact me or view my work</h4>

    <a href="https://uk.linkedin.com/in/callum-matthews-4b0036298"> 
    <img src="https://i.ibb.co/jZ86kZY/linkedin-1.png" alt="Linkedin" height="40px" width="40px" >
    </a>

    <a href="https://github.com/Caltington"> 
    <img src="https://i.ibb.co/bzSwG8V/github.png" alt="Github" height="40px" width="40px" >
    </a> 
  </footer>